.title {
  color: var(--extraWhite);
  font-weight: 500;
  font-size: 0.9rem;
  padding-left: 9px;
  margin-bottom: 1rem;
}
.suggestions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
}
.suggestion__item {
  list-style-type: none;
  width: 100%;
  margin-bottom: 1em;
}
.suggestions .Account__name-nickname {
  font-size: 0.8rem;
  width: 100%;
}
.suggestions .Account__name-username {
  font-size: 0.7rem;
  width: 100%;
}
.suggestions .btn {
  margin-left: auto;
  color: var(--black);
  padding: 0;
  max-width: 4rem;
  font-size: 0.7rem;
  font-weight: 700;
  background-color: var(--extraWhite);
  padding: 0.5rem 1rem;
  align-self: flex-start;
}
.Account__description {
  color: var(--extraWhite);
}
.content .suggestions .btn {
  position: absolute;
  top: 0px;
  right: 0px;
}
.Suggestions .ContentSuggestions {
  padding: 0.5rem 0;
}
