.Account {
  display: flex;
  align-items: center;
  justify-content: center;
}

.showMore {
  color: var(--extraWhite);
  font-size: 1rem;
  font-weight: 700;
  width: 20px;
  margin-left: auto;
  padding-right: 2rem;
}
