.side {
  display: flex;
  flex-direction: column;

  max-height: 100vh;
  padding: 0 3rem 0 2.5rem;
  width: 400px;
}
.searchBar {
  margin-bottom: 1rem;
}

.menu__footer {
  display: flex;
  align-items: center;
}
.trends {
  flex: 1;
  height: 100%;
}
.side__footer-list {
  display: flex;
  flex-wrap: wrap;
}
.side__footer-list li {
  list-style: none;
  color: var(--gray);
  font-size: 0.8rem;
  margin-right: 10px;
}
.side__footer .action-icon {
  margin-left: 0;
  color: var(--gray);
}
